/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lime;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 80, 0);
}
